# Python
__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask
instance/
.flaskenv

# Editor/IDE specific
.vscode/ # If you have VS Code specific settings you don't want to commit
*.iml    # IntelliJ IDEA files
.idea/   # IntelliJ IDEA files

# Operating System Files
.DS_Store
Thumbs.db