<!-- html file code for displaying the complete blockchain -->
<!DOCTYPE html>
<html>
<title>Display complete blockchain </title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">   
    <script src="{{url_for('static', filename='js/get_chain.js')}}"></script>
</head>

<body>

    <h1>Complete Blockchain</h1>

    <div id="chainData"></div>


</body>

</html>
