<!-- html file code for mine block -->
<!DOCTYPE html>
<html>
<title>Mining Block for blockchain </title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> 
    <script src="{{url_for('static', filename='js/mine_block.js')}}"></script>  
</head>

<body>

    <h1>Newly mined block of Blockchain</h1>

    <!-- Display Block Data Here -->
    <div id="blockData"></div>


</body>

</html>
